*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 5rem;;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}

/* immediate children of .toolbox-cont */
.toolbox-cont>*{
    margin-left: 4rem;
}
.toolbox-color-cont{
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.toolbox-color-cont>*:hover,.action-btn-cont>*:hover{
    background-color: #485460;
}
.action-btn-cont{
    height: 3.5rem;
    width: 7rem;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.action-btn-cont>*{
    font-size: 2rem;
    color: #d1d8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}
.color{
    height: 1.5rem;
    width: 3rem;
}

.lightpink{
    background-color: lightpink;
}
.lightgreen {
    background-color: lightgreen;
}
.lightblue{
    background-color: lightblue;
}
.black{
    background-color: black;
}
.modal-cont{
    display: none;
    height: 50vh;
    width: 45vw;
    background-color: lightblue;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
}

textarea{
    height: 100%;
    width: 75%;
    background-color: #dfe4ea;
    font-size: 2rem;
    border: none;
    outline: none;
    resize: none; /*so that textarea can't be streched */
}

.priority-color-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: #4b4b4b;
}
.priority-color{
    height: 10%;
    width: 38%;
}

.active{
    border: 5px solid red;
}

.main-cont{
    display: flex;
}